.container__projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects__title{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.eight h1 {
  text-align:center;
 
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color:#f8f8f8;
}

.projects__images__container{
  width: 90vw;
    max-width: 1120px;
    margin: 0px auto 2rem;
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

* {
	box-sizing: border-box;
}

.card {
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 100%;
  }
  .card-header img {
	width: 100%;
	height: 240px;
	object-fit: cover;
  }
  .card-body {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
  }
  
  .tag {
	background: #cccccc;
	border-radius: 50px;
	font-size: 12px;
	margin: 0;
	color: #fff;
	padding: 2px 10px;
	text-transform: uppercase;
	cursor: pointer;
  }
  .tag-teal {
	background-color: #47bcd4;
  }
  .tag-purple {
	background-color: #5e76bf;
  }
  .tag-pink {
	background-color: #cd5b9f;
  }
  
  .card-body p {
	font-size: 13px;
	margin: 0 0 20px;
  }
  .user {
	display: flex;
	margin-top: auto;
  }
  
  .user img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
  }
  .user-info h5 {
	margin: 0;
  }
  .user-info small {
	color: #545d7a;
  }
  
.card__code{
	width: 20%;
	display: flex;
}

.card__icon svg{
	width: 25px;
	height: 25px;
	margin-right: 15px;
}

.tag{
	display: flex;
	align-items: center;
}